<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/styles/estilos.css" />
    <title>Siembra árboles</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/img/icons8-tree-16.png"
    />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #398327"
      >
        <div class="container-fluid">
          <a
            class="navbar-brand"
            href="../views/index.html"
            style="color: white"
            >Zonas</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="/views/santafe.html"
                  style="color: white"
                  >Santa Fe de Antioquia</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="/views/yarumal.html"
                  style="color: white"
                  >Yarumal</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="/views/caucasia.html"
                  style="color: white"
                  >Caucasia</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="/views/belmira.html"
                  style="color: white"
                >
                  Belmira
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="/views/bello.html"
                  style="color: white"
                >
                  Bello</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="/views/caramanta.html"
                  style="color: white"
                >
                  Caramanta
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/views/imagenes.html"  style="color: white;">
                  Galería
                </a>
              </li>
            </ul>
            <form class="d-flex">
              <a
                class="nav-link active"
                href="https://github.com/Maicolesco"
                target="_blank"
                style="color: white"
              >
                <img
                  src="../assets/img/github-icon-png-3.png"
                  alt="MDN"
                  width="30PX"
                  height="20PX"
                />
                GITHUB
              </a>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">
      <div class="row">
        <h4 class="titulo" style="color: #398327">GALERÍA IMAGENES</h4>
      </div>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active " >
            <img src="../assets/img/bello.jpg" class="d-block w-100 " alt="..." style="height:700px">
          </div>
          <div class="carousel-item ">
            <img src="../assets/img/bello1.jpg" class="d-block w-100 h-20" alt="..." style="height:700px">
          </div>
          <div class="carousel-item ">
            <img src="../assets/img/Belmira.jpg" class="d-block w-100 h-20" alt="..." style="height:700px">
          </div>
          <div class="carousel-item ">
            <img src="../assets/img/Belmira1.jpg" class="d-block w-100 h-20" alt="..." style="height:700px">
          </div>
          <div class="carousel-item ">
            <img src="../assets/img/caramanta.jpg" class="d-block w-100 h-20" alt="..." style="height:700px">
          </div>
          <div class="carousel-item ">
            <img src="../assets/img/caucacia.jpg" class="d-block w-100 h-20" alt="..." style="height:700px">
          </div>
          <div class="carousel-item ">
            <img src="../assets/img/santafe.jpg" class="d-block w-100 h-20" alt="..." style="height:700px">
          </div>
          <div class="carousel-item ">
            <img src="../assets/img/yarumal.jpg" class="d-block w-100 h-20" alt="..." style="height:700px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </main>
    <div class="container">
        <hr>
    </div>

    <br>

    <footer>
      <div class="text-center">
        <img
          src="../assets/img/arbol.png"
          alt="Árbol"
          class="footer-logo"
          width="200px"
        />
        <p class="footer-text">sociedad de árboles con vida.</p>
        <p class="footer-text"><b>Michael Estrada Colorado</b></p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script src="/controllers/controlador.js"></script>
  </body>
</html>

